.flag-app {
  text-align: center;
}

.title-header {
  display: flex;
  height: 10vh;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: left;
  padding: 10px;
  align-items: center;
  background-color: #2B7A78;
}

.title-text {
  font-size: 2.75em;
  color: #e9eff9;
  text-shadow: 3px 3px 4px black;
}

@media (max-width: 450px) {
  .title-header {
    height: 10vh;
  }

  .title-text {
    font-size: 2.1em;
  }
}